		/* CSS Reset */

		html, body, div,
		a {
			margin: 0;
			padding: 0;
			font-size: 100%;
			text-decoration: none;
			color: black;
			font: inherit;
			vertical-align: baseline;
		}

		/* Верхний блок меню */

		a:link {
			color: black;
		}
     	a:visited {
     		color: red;
     	}
		.bg {
			background-image: url(http://sergseov.com/wp-content/uploads/2017/10/%D0%BE%D0%BA%D0%B5%D0%B0%D0%BD.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			padding-top: 10px;
		}
		.menu { 
			display: flex;
			justify-content: center;
			align-items: flex-end;           
			margin: 0 auto;
			border-top-left-radius: 300px;
			border-top-right-radius: 300px;
			border-bottom-left-radius: 150px;
			border-bottom-right-radius: 150px;                                                  
			background: url(menu2.png);
			height: 252px;     
			width: 1000px;         
		}
		.menu ul { 
		    font-size: 13pt;            
		    margin: 0px;             
		    padding: 0px;
		    margin-top: 202px;
		    margin-left: 329px;              
		}            
		.menu li {             
		    float: left;          
		    position: relative;                
		    list-style-type: none; 
		    border-radius: 20px;          
		}             
		.menu a {             
		    display: block;             
		    text-decoration: none;           
		    padding: 14px 10px 14px 10px;            
		    color: #9a16ff;              
		}             
		.menu a:hover{             
		    color: #ff9999;       
		}             
		.menu li:hover {             
		    background: lightblue;      
		}             
		             
		/* Раскрывающееся меню */              
		             
		.menu ul li ul {             
		    margin: 0px;             
		    position: absolute;              
		    width: 10em;
		    color: black;  
		}            
		.menu ul li ul li a{
			color: black;
		}  
		.menu ul li ul li  {             
		    width: 100%;
		    background-color: #faffce;                
		}            
		.menu ul li ul {             
		    display: none;             
		}             
		.menu ul li:hover ul {             
		    display: block;             
		}          
		             
		/* Многоуровневое раскрывающееся меню */              
		             
		.menu ul li ul li ul   {             
		    visibility: hidden;             
		    top: -1px;             
		    left: 10em;              
		}              
		.menu ul li ul li:hover ul {             
		    visibility: visible;  /* всплывает второе подменю */             
		}             
		.menu ul li ul li:hover ul li ul { /*прячет третье меню до наведения мыши*/           
		    visibility: hidden;             
		}              
		.menu ul li ul li ul li:hover ul { /*всплывает третье меню*/             
		    visibility: visible;
		    height: 300px;
		    overflow-x: hidden;             
		}

		/* LOG In/Registrartion*/

		.multiselect {
			margin-bottom: 230px;
			margin-left: 159px;
			width: 170px;
		}
		.selectBox {
		  position: relative;
		  margin-right: 110px;
		}
		.selectBox select {
		  width: 100%;
		  font-weight: bold;
		}
		.overSelect {
		  position: absolute;
		  left: 0;
		  right: 0;
		  top: 0;
		  bottom: 0;
		}
		#checkboxes {
			position: absolute;
			margin-top: 4px;
		  	display: none;
		}
		button {
			margin-top: 2px;
		}
		.come {
			margin-right: 16.5px;
			margin-bottom: 2px; 
		}

		/* Блок информации */

		.block {
	   		display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding-top: 10px;
			height: 100%;
			width: 1000px;
	      	margin: 0 auto;
		}
		.log {
			margin: 30px 60px 10px 60px;
		}
		form {
			display: flex;
			flex-direction: column;
			width: 500px;
			font-size: 13pt;
		}
		.b1, .b3 {
			display: flex;
			flex-direction: column;
			background-color: #f2fdff;
			width: 1200px;
			border-top-right-radius: 30px;
			border-top-left-radius: 30px;
		}
		.b3 {
			margin-left: 2px;
		}
		.bbb {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		.sunb1 {
			width: 60px;
			height: 60px;
		}
		.textb31 {
			font-size: 9pt;
			margin-top: 0px;
		}
		.textb31 a {
			text-decoration: none;
			color: black;
		}
		.textb3 {
			font-size: 9pt;
			margin-top: 100px;
		}
		.textb3 a {
			text-decoration: none;
			color: black;
		}
		.sharkb3 {
			width: 100px;
			height: 60px;
			margin-top: 1px;
			float: top;
		}

		/* Footer */

		.foot {
			background-color: #f2fdff;
			display: flex;
			flex-direction: column;
			justify-content: center;
			border-bottom-right-radius: 30px;
			border-bottom-left-radius: 30px;
			height: 480px;
			width: 1000px;
			margin: 0 auto;
			padding-bottom: 10px;
			min-width: 450px;
		}
		.map {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 10px;
		}
		.container {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
		}
		.name {
			font-size: 9pt;
		}
		.upto a {
			font-size: 15pt;
			text-decoration: none;
			color: #8a47ff;
		}
		.contact {
			font-size: 9pt;
			display: flex;
			flex-direction: column;
		}
		.footer-col {
			font-size: 9pt;
		}
		.footer-col a{
			color: blue;
		}